<a class="button" *ngIf="currentPage > 1" (click)="lastPage()">last page</a>
<a class="button" *ngIf="currentPage != totalPage" (click)="nextPage()">next page</a>
<p>{{ currentPage }} / {{ totalPage }} page</p>

<p>
<select [(ngModel)]="selectedValue" (change)="onChange($event)">
  <option *ngFor="let option of options" [value]="option">
    {{ option }}
  </option>
</select>
items / page
</p>



<!-- 
  <p>You selected: {{ currentPage }}</p>
  <p *ngIf="pro && pro.price > 700">
  <button type="button" (click)="notify.emit()">Notify Me</button>
</p>
-->
